//$body-bg: #172A3A;
$body-bg: #05191a;
$body-color: #09bc8a;
$body-secondary-bg: #093a3e;

$title: #fcb97d;
$tertiary: #093a3e;
$custom-colors: (
	"title": $title,
	"tertiary": $tertiary,
);

$primary: #b7cdce;
$secondary: #09bc8a;
$success: #09bc8a;
$info: #edd892;
$warning: #fcb97d;
$danger: #eda493;
$light: #004346;
$dark: #09bc8a;

$theme-colors: (
	"primary": $primary,
	"secondary": $secondary,
	"success": $success,
	"info": $info,
	"warning": $warning,
	"danger": $danger,
	"light": $light,
	"dark": $dark,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "../../../node_modules/bootstrap/scss/bootstrap";
